/* This is Responsive StyleSheet */

/* Media Query For Tablet Start */

@media only screen and (min-width: 688px) and (max-width: 992px) {

    /* Header Style */
    .logo h1 a{
        font-size: 25px;
        margin-left: 165px;
    }
    
    .btn{
        font-size: 14px;
        padding: 10px 15px;
    }
    .menu{
        display: none;
    }
    
    /* Hero Section */

    .hero-main{
        flex-direction: column;
        margin: 0 auto;
        height: 850px;
        text-align: center;
    }


    .hero-left{
        margin-left: 50px;
        margin-top: 50px;
    }
    
    .hero-left h1{
        font-size: 30px;
    }
    
    .sliders h1:nth-child(1) {
        margin: auto;
    }
    .sliders h1:nth-child(2) {
        margin: auto;
    }
    .sliders h1:nth-child(1) span{
        margin: auto;
    }
    .sliders h1:nth-child(2) span{
        margin: auto;
    }
    

    .hero-right{
        margin-top: 50px;
        background: none;
    }
    .hero-right img{
        margin-left: 180px;
    }
    .sliders p{
        width: 350px;
        margin-top: 25px;
        margin-left: 165px;
    }

    /* Product Section */

    .main{
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-left: 50px;
    }
    .products{
        width: 290px;
    }
    /* Offer Section */
    .offer-container{
        width: 760px;
    }
    .offer{
        width: 760px;
    }
    .offer h1 span{
        font-size: 40px;
    
    }
    .offer h1{
        font-size: 40px;
    }
    .input-field{
        width: 330px;
    }
    .offer p{
        width: 360px;
    }

}

/* Media Query For Tablet End */




/* Media Query For Mobile Start */

@media only screen and (max-width: 688px) {
    /* Header Style */
    .logo h1 a{
        font-size: 20px;
        margin-left: -15px;
    }
    .menu{
        display: none;
    }

    /* Hero Section */

    .hero-main{
        flex-direction: column;
        margin: 0 auto;
        height: 850px;
    }

    .hero-left{
        margin-top: 35px;
        margin-left: 0;
    }
    
    .hero-left h1{
        font-size: 25px;
        text-align: center;
    }

    .sliders h1:nth-child(1) {
        margin: auto;
    }
    .sliders h1:nth-child(2) {
        margin: auto;
    }
    .sliders h1:nth-child(1) span{
        margin: auto;
    }
    .sliders h1:nth-child(2) span{
        margin: auto;
    }

    .hero-right{
        margin-top: 100px;
        background: none;
    }
    .hero-right img{
        height: 300px;
        margin-left: 40px;
    }
    .sliders p{
        width: 310px;
        text-align: center;
        margin-left: 50px;
    }
    .btn{
        font-size: 12px;
        padding: 10px 24px;
        background-color: #dd153d;
        color: white;
        margin-left: 100px;
    }

    /* Products Section */
    .main{
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-left: 50px;
    }
    .products{
        width: 290px;
    }
    /* Offer Section */
    .offer-container{
        width: 350px;
    }
    .offer{
        width: 350px;
    }
    .offer h1 span{
        font-size: 40px;
    
    }
    .offer h1{
        font-size: 30px;
    }
    .input-field{
        width: 260px;
    }
    .offer p{
        width: 275px;
    }
    .discount{
        margin-left: -70px;
    }


    /* Footer here */
    footer{
        width: 100%;
    }
}
/* Media Query For Mobile End */