/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Header Start */

.container{
    margin: 35px 100px 0px 100px;
    max-width: 1440px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.logo h1 a{
    text-decoration: none;
    color: #3A3A3A;

}
.menu ul{
    display: flex;
    height: 50px;
    align-items: center;
}
.menu ul li{
    list-style: none;
    padding-left: 15px;
}
.menu ul li a{
    text-decoration: none;
    padding:10px;
    color: #3A3A3A;
    font-weight: 600;
}

/* Header End */

/* Hero Section Start */

.hero-main{
    display: flex;
    align-items: stretch;
    height: 500px;
    margin-top: 50px;
}
.hero-left{
    margin-left: 100px;
    margin-top: 100px;
}
.hero-right{
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center center;
}
.hero-right img{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    transition: transform .4s;
}
.hero-right img:hover{
    transform: scale(1.2)
}
.sliders h1{
    color: #3A3A3A;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
.sliders p{
    color: #3A3A3A;
    font-weight: bold;
    margin: 5px 100px 25px 0;
}
.btn{
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 12px 25px;
    background-color: #FF6263;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    
}
.btn:hover{
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 12px 25px;
    background-color: black;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn i{
    padding-left: 7px;
}

/* Hero Section End */

/* Product Section Start */

.product-container{
    width: 100%;
    margin-top: 150px;
}
.product-title{
    text-align: center;
    color:#3A3A3A;
    margin-bottom: 50px;
}
.product-title h1{
    font-size: 40px;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    width: 80%;
    margin: 0 auto;
}
.products{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 330px;
    margin: auto;
}
.product-box{
    width: 85%;
    margin:0 auto;
}
.product-box img{
    margin-top: 15px;
    width: 100%;
}
.product-name{
    padding-top: 10px;
    font-size: 26px;
    font-weight:600;
    color: #18191F;
}
.price{
    font-size: 24px;
    padding-top: 10px;
    color: #000000DE;
}
.rating{
    display: flex;
    padding-top: 10px;

}
.star{
    color: orange;
    padding-right: 10px;
}
.rating p{
    font-weight: bold;
    color: gray;
    
}
.product-description{
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Product Section End */


/* Footer Start */

footer{
    height: 250px;
    background: #0A0826;
    text-align: center;
    color: white;
}
footer > div > h1{
    font-size: 24px;
    margin-bottom: 5px;
}
footer > div > p{
    font-size: 14px;
    line-height: 30px;
}

footer > div{
    padding-top: 50px;
}
.s-icon{
    margin-top: 15px;
}
.s-icon a{
    text-decoration: none;
    color: white;
}
.s-icon a i{
    background: #22203B;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 12px;
}
/* Footer End */