/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Header Start */

.container{
    margin: 35px 100px 0px 100px;
    max-width: 1440px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.logo h1 a{
    text-decoration: none;
    color: #3A3A3A;

}
.menu ul{
    display: flex;
    height: 50px;
    align-items: center;
}
.menu ul li{
    list-style: none;
    padding-left: 15px;
}
.menu ul li a{
    text-decoration: none;
    padding:10px;
    color: #3A3A3A;
    font-weight: 600;
}

/* Header End */

/* Hero Section Start */

.hero-main{
    display: flex;
    align-items: stretch;
    height: 500px;
    margin-top: 50px;
}
.hero-left{
    margin-left: 100px;
    margin-top: 100px;
}
.hero-right{
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center center;
}
.hero-right img{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    transition: transform .4s;
}
.hero-right img:hover{
    transform: scale(1.2)
}
.sliders h1{
    /* display: block; */
    width: fit-content;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0;
    color: transparent;
    animation: text-reveal .5s ease 1s forwards;
}
.sliders h1:nth-child(1){
    animation-delay: 1s;
}
.sliders h1:nth-child(2){
    animation-delay: 2s;
}
.sliders h1 span{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #dd153d;  
    animation: text-reveal-box 1s ease .3s;
}
.sliders h1:nth-child(1) span{
    animation-delay: .5s;
}
.sliders h1:nth-child(2) span{
    animation-delay: 1.5s;
}

.sliders p{
    color: #3A3A3A;
    font-weight: bold;
    margin: 5px 100px 25px 0;
}
.btn{
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    padding: 12px 25px;
    background-color: transparent;
    color: #dd153d;
    border: 2px solid #dd153d;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease; 
    transition-property: color , background-color;
}

.btn:hover{
    background-color: #dd153d;
    color: white;

}
.btn i{
    padding-left: 7px;
}

/* Hero Section End */

/* Product Section Start */

.product-container{
    position: relative;
    width: 100%;
    margin-top: 130px;
}
.product-title{
    text-align: center;
    color:#3A3A3A;
    margin-bottom: 50px;
}
.product-title h1{
    font-size: 40px;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    width: 80%;
    margin: 0 auto;
}
.products{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 330px;
    margin: auto;
}
.product-box{
    width: 85%;
    margin:0 auto;
}
.product-box img{
    margin-top: 15px;
    width: 100%;
}
.product-name{
    padding-top: 10px;
    font-size: 26px;
    font-weight:600;
    color: #18191F;
}
.price{
    font-size: 24px;
    padding-top: 10px;
    color: #000000DE;
}
.rating{
    display: flex;
    padding-top: 10px;

}
.star{
    color: orange;
    padding-right: 10px;
}
.rating p{
    font-weight: bold;
    color: gray;
    
}
.product-description{
    padding-top: 5px;
    padding-bottom: 16px;
    font-size:14px;
    font-weight: bold;
    color:#787885;
}
.p-button{
    position: absolute;
    right: 130px;
    bottom: -80px;
    text-decoration: none;
    margin-top: 50px;
    border: none;
    background: transparent;
}
.p-button a{
    text-decoration: none;
    color: #dd153d  ;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
}
.right-arrow{
    font-size: 16px;
    padding-left: 6px;
}
/* Product Section End */



/* Offer Section Start */
.offer-container{
    margin-top: 130px;
    height: 500px;
    margin-bottom: -100px;
}

.offer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.offer h1{
    font-size: 50px;
    color: #dd153d;
    
}
.offer h1 span{
    font-size: 70px;
}
.offer p{
    font-weight: 500;
    color: #3A3A3A;
    padding-bottom: 17px;
    width: 500px;
    margin: 20px auto;
}
.input-field{
    text-align: center;
    padding-left: 10px;
    font-size: 19px;
    height: 35px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px gray, inset -2px -2px 15px white;
}
.input-field::placeholder{
    text-align: center;
}

.discount{
    padding-top: 0;
}











/* Offer Section End */







/* Footer Start */

footer{
    margin-top: 100px;
    height: 250px;
    background: #0A0826;
    text-align: center;
    color: white;
}
footer > div > h1{
    font-size: 24px;
    margin-bottom: 5px;
}
footer > div > p{
    font-size: 14px;
    line-height: 30px;
}

footer > div{
    padding-top: 50px;
}
.s-icon{
    margin-top: 15px;
}
.s-icon a{
    text-decoration: none;
    color: white;
}
.s-icon a i{
    background: #22203B;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 12px;
}
/* Footer End */

/* Keyframes Start */

@keyframes text-reveal-box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal {
    100%{
        color: #3A3A3A;
    }
    
}

/* Keyframes End */